useful_links.txt
Engine
CarlaUE4
0.9.15_carlaSimulator
.vs
YOLOv3-Object-Detection-with-OpenCV
martisaju-CARLA-Speed-Traffic-Sign-Detection-Using-Yolo-7f0b1ec
CarlaSimulator\PythonClient\carla_darknet_integration
_out
Introduction to Self-Driving Cars
Course1FinalProject
yolov4.weights
yolov3.weights
CarlaSimulator/PythonClient/Course4FinalProject/yolov3-coco/yolov3.weights
carla_darknet_integration
CarlaSimulator/PythonClient/carla_darknet_integration
*.weights
tempCodeRunnerFile.python
PythonAPI
output_frames
Visual Perception for Self-Driving Cars\week3\data
